Gradle_files/CILSBVoiceServicesLib/VoiceOrderTransientContext.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CILSBVoiceServicesLib">
    <xsd:import schemaLocation="OrderDetailsResponse.xsd"/>
    <xsd:import schemaLocation="OrderDetailsRequest.xsd"/>
    <xsd:complexType name="VoiceOrderTransientContext">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="errorRuleType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="responseDetailString" type="xsd:string"/>
      <xsd:element minOccurs="0" ref="orderDetailsRequest"/>
      <xsd:element minOccurs="0" ref="orderDetailsResponse"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>